name: commit-lint

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

permissions:
  contents: read
  pull-requests: read

jobs:
  title:
    name: Conventional Commit PR Title
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
          echo "$PR_TITLE" | grep -Eq '^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .+'
