{
  "project": {
    "name": "{{ project_name }}",
    "slug": "{{ project_name }}",
    "primaryTeam": "",
    "contributors": []
  },
  "workspace": {
    "morpheusFolder": "morpheus",
    "repos": []
  },
  "modules": {
    "enabled": ["workspace-companion"]
  },
  "pm": {
    "provider": "{{ pm_tool }}",
    "projectKey": "{{ jira_project_key }}",
    "serverUrl": "{{ jira_site_url }}"
  }
}